* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-image: url(../bg.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  border: 8px solid #089cdc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 42, 88, 0.6)), to(rgba(77, 8, 154, 0.8)));
  background-image: linear-gradient(rgba(15, 42, 88, 0.6), rgba(77, 8, 154, 0.8));
  padding: 20px;
  margin: 0 3rem;
  max-width: 500px;
  min-width: 350px;
  -webkit-box-shadow: 3px 3px 10px #222;
          box-shadow: 3px 3px 10px #222;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__title {
  font-size: 3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form__description {
  font-size: 1.2rem;
  margin-top: 2rem;
  text-align: center;
}

.cont {
  width: 100%;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont__wrap {
  width: 100%;
  height: 5rem;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
}

.cont__input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid #323edd;
  background-color: transparent;
  padding-top: 1.8rem;
  font-size: 1.8rem;
  color: #dc2ade;
  outline: none;
}

.cont__label {
  height: 100%;
  width: 100%;
  position: absolute;
  padding-top: 30px;
  left: 0;
  bottom: 0;
  pointer-events: none;
  font-size: 1.2rem;
}

.cont__label::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #1196d7;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.cont__name {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 10px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.cont__input:valid + .cont__label::after,
.cont__input:focus + .cont__label::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.cont__input:focus + .cont__label .cont__name,
.cont__input:valid + .cont__label .cont__name {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  font-size: 1.2rem;
  color: #1196d7;
}

.cont__name {
  position: relative;
}

.cont__btn {
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  background-color: #323edd;
  border: 1px solid #1196d7;
  padding: 1.4rem 6rem;
  position: relative;
  margin-top: 5rem;
  -webkit-box-shadow: 122px 12px 150px rgba(15, 42, 88, 0.6);
          box-shadow: 122px 12px 150px rgba(15, 42, 88, 0.6);
}

.cont__btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.cont__btn:hover::before {
  -webkit-transform: scaleX(1.8) scaleY(2);
          transform: scaleX(1.8) scaleY(2);
  opacity: 0;
  background-color: #1196d7;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 400px) {
  .cont__btn {
    padding: 1.2rem 4rem;
  }
}
/*# sourceMappingURL=style.css.map */